- @project.user_id = current_user.id
%div{"ng-controller" => "categoriesController", "ng-init" => "showCategories()"}
  = form_for ([:user, @project]), :html => {:multipart => true} do |f|
    .div.row
      - if @project.errors.any?
        %div{"id" => "error_explanation"}
          %div{"class" => "alert alert-error"}
            %button{ "type"=> "button", "class"=>"close", "data-dismiss"=>"alert"}x
            %h2
              = pluralize(@project.errors.count, 'error') 
              detected check it out please.
            %ul
              - @project.errors.full_messages.each do |msg|
                %li= msg
      .span4
        = f.label      :name
        = f.text_field :name 
        %br/
        = f.label      :video_url
        = f.file_field :video_url
        %br/
        = f.label      :description
        = f.text_area :description, :size => "30x10" 
        %br/
      .span4
        = f.label      :amount
        = f.text_field :amount
        %br/
        = f.label      :city
        = f.label      :country
        %select{"ng-model" => "selectedCoutry","ng-options" => "c for c in countries","ng-init" => "selectedCity=country"}
        %select{"ng-model" => "selectedCity","ng-options" => "city for city in cityMex","ng-init" => "selectedCity=city"}
        %select{"ng-model" => "selectedCity","ng-options" => "city for city in cityUsa","ng-init" => "selectedCity=city"}
        = f.hidden_field :city, value: "{{selectedCity}}" 
        %br/
        = f.label      :close_date
        = f.text_field :close_date, :id => "datepicker"
        %br/
        = f.label        :category_id
        %select{"ng-model" => "selectedCategory","ng-options" => "c.name for c in categories","ng-init" => "selectedCategory.id=c.id" ,"ng-required" => ""}
        = f.hidden_field :user_id
        = f.hidden_field :category_id, value: "{{selectedCategory.id}}" 
        %br/
        = f.submit
        = submit_tag 'Preview', name: 'preview'
      
