.select-back 
- @back.user_id = current_user.id
- @back.project_id = params[:project_id]
= form_for [:project,@back] do |f|
  %p
    = f.label :amount
    = f.text_field :amount
    %h4 Select a Pledge for you Back
    = f.radio_button :option, "Nothing", checked: true
    = f.hidden_field :pledge_id , value: 0
    %p Nothing
  - @pledge.each do |pledge|
    = f.radio_button :option, pledge.min, checked: false
    = f.hidden_field :pledge_id , value: pledge.id
    %p #{pledge.min} or more 
    = pledge.description
    %br
  = f.submit
