%section
  %h2 All categories
  %br
  %table.table.table-striped
    %thead
      %tr
        %th Id
        %th Name
        %th Edit
        %th Delete
    - @categories.each do |category|
      %tr
        %td #{ category.id }
        %td #{ category.name }
        %td 
          = link_to "Edit", edit_category_path(category)
        %td 
          = link_to "Delete", category, method: :delete, data:{confirm: 'Are you sure'}
  = link_to "New category", new_category_path
  = link_to "Back", admin_index_path

