- @back.user_id = current_user.id
- @back.project_id = params[:project]
= form_for (@back) do |f|
  %p
    = f.label :amount
    = f.text_field :amount
    = f.label :comment
    = f.text_field :comment
    = f.hidden_field :user_id
    = f.hidden_field :project_id
    %br/
    = f.submit
