.padding_login_fix
  %h1 
    = "Projects backs list to #{current_user.email}"
  .table
    %table{width:"100%"}
      %thead
        %th
          Project name
        %th
          Amounted
        %th
          Backed date 
      - @list.each do |project| 
        - if name = optain_name(project.project_id)
          %tr
            %td
              = name
            %td
              = project.amount
            %td
              = project.created_at
