%section
  %p The Start date is: #{@start_date}
  %p The End date is #{@end_date}
  %p #{@i} backs enter in the range
  %p The total amount of the backs is $#{@sum}
  %p Your total fee is $#{@total_fee}
%section
  %h3 The total of the monney that the site will give is: $#{@money}
  %p Note: This is asumatory of all the backs less your fee.
%section
  Check the revenue on a given period of time
  %form.form-search{:action => revenue_admin_backs_path, :method => 'GET'}
    %input#start_date.input-medium.search-query{:type => "text", :placeholder => 'Start Date', :name => 's_date'}
    %input#end_date.input-medium.search-query{:type => "text", :placeholder => 'End Date', :name => 'e_date'}
    %button.btn{:type => "submit"} Check
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Money to give
        %th Revenew
    - @new_backs.each do |key,back|
      %tr
        %td #{ key }
        %td $#{ back * (1 - @fee)}
        %td $#{ back * (@fee) }
  = link_to "Back", admin_home_index_path
