!!!
%html{"ng-app" => "starFishModel"}
  %head
    %title StarfishApp
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"}
    = javascript_
    = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %body
    #main-container
      = render 'layouts/menu'
      = yield
      = render 'layouts/footer'
