!!!
%html{"ng-app" => "projectsModel"}
  %head
    %title StarfishApp
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #main-container
      %header.sf-main
        .header-content
          = link_to "Home", root_path
          .divider
          = link_to "About Starfish"
          .divider
          = link_to "Discover great projects"
          .divider
          = link_to "Start your project", new_project_path 
          .divider
          %input.search-query{:type => 'text', :placeholder => 'Search'}
          .divider
          Help
          - if user_signed_in?
            |
            = link_to "New Project", new_project_path 
            |
            = link_to "Sign out", destroy_user_session_path, :method => 'delete'
          - else
            |
            = link_to "Sign up", new_user_registration_path
            |
            = link_to "Log in", new_user_session_path
    = yield
    %footer
      .main-board.footer
        %section.footer
          .span2
            %h5 Discover
            %br
            Art
            %br
            Comics
            %br
            Dance
            %br
            Design
            %br
            Fashion
            %br
            Film & Video
            %br
            Food
          .span2
            %br
            %br
            Games
            %br
            Music
            %br
            Photography
            %br
            Publishing
            %br
            Technology
            %br
            Theater
          .span2
            %br
            %br
            Staff Picks
            %br
            Popular
            %br
            Recently Launched
            %br
            Small Projects
            %br
            Most Funded
            %br
            Curated Pages
          .span2
            %h5 Create
            Start a project
            %br
            Starfish Academy
            %br
            Creator Questions
            %br
            Project Guidelines
          .span2
            %h5 About
            What is Starfish?
            %br
            Project Guidelines
            %br
            Meet our team
            %br
            Work at Starfish
            %br
            Press
            %br
            Stats
            %br
            Best of Starfish 2012
            %br
            Project Guidelines
          .span2
            %h5 Stay in touch
            Blog
            %br
            Newsletter
            %br
            Twitter
            %br
            Tumblr
            %br
            Facebook
        %section.footer.middle
          %h4 
            "Here goes quotes about the site"
            %button.btn 
              %i.icon-eye-open.iconsb
              @Folow in Twitter
            %button.btn.btn-info 
              %i.icon-thumbs-up.iconsw
              Like in facebook
        %section.footer.middle.down
          About, privacy, Copyright, Terms of use, etc.
            
    

